<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysNewsCategoryMapper">

    <resultMap type="com.ruoyi.system.domain.SysNewsCategory" id="SysNewsCategoryResult">
        <id property="categoryId" column="category_id" />
        <result property="categoryName" column="category_name" />
        <result property="parentId" column="parent_id" />
        <result property="level" column="level" />
        <result property="sort" column="sort" />
        <result property="status" column="status" />
        <result property="createBy" column="create_by" />
        <result property="createTime" column="create_time" />
        <result property="updateBy" column="update_by" />
        <result property="updateTime" column="update_time" />
        <result property="remark" column="remark" />
    </resultMap>

    <sql id="selectSysNewsCategoryVo">
        select category_id, category_name, parent_id, level, sort, status, create_by, create_time, update_by, update_time, remark
        from sys_news_category
    </sql>

    <select id="selectSysNewsCategoryList" parameterType="com.ruoyi.system.domain.SysNewsCategory" resultMap="SysNewsCategoryResult">
        <include refid="selectSysNewsCategoryVo"/>
        <where>
            <if test="categoryName != null and categoryName != ''">
                AND category_name like concat('%', #{categoryName}, '%')
            </if>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
            <if test="parentId != null">
                AND parent_id = #{parentId}
            </if>
        </where>
        order by sort asc
    </select>

    <select id="selectSysNewsCategoryTree" parameterType="com.ruoyi.system.domain.SysNewsCategory" resultMap="SysNewsCategoryResult">
        <include refid="selectSysNewsCategoryVo"/>
        <where>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
        </where>
        order by sort asc
    </select>

    <select id="selectSysNewsCategoryById" parameterType="Long" resultMap="SysNewsCategoryResult">
        <include refid="selectSysNewsCategoryVo"/>
        where category_id = #{categoryId}
    </select>

    <insert id="insertSysNewsCategory" parameterType="com.ruoyi.system.domain.SysNewsCategory" useGeneratedKeys="true" keyProperty="categoryId">
        insert into sys_news_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="categoryName != null and categoryName != ''">category_name,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="level != null">level,</if>
            <if test="sort != null">sort,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="categoryName != null and categoryName != ''">#{categoryName},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="level != null">#{level},</if>
            <if test="sort != null">#{sort},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateSysNewsCategory" parameterType="com.ruoyi.system.domain.SysNewsCategory">
        update sys_news_category
        <trim prefix="set" suffixOverrides=",">
            <if test="categoryName != null and categoryName != ''">category_name = #{categoryName},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="level != null">level = #{level},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where category_id = #{categoryId}
    </update>

    <delete id="deleteSysNewsCategoryById" parameterType="Long">
        delete from sys_news_category where category_id = #{categoryId}
        <foreach item="categoryId" collection="array" open="(" separator="," close=")">
            #{noticeId}
        </foreach>
    </delete>



</mapper>